version: '3'
services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
     - "3000:3000"
    depends_on:
      - "db"
  db:
    image: "postgres:10.7"
    environment:
      POSTGRES_USER: explaind
      POSTGRES_PASSWORD: explain
      POSTGRES_DB: explain
    volumes:
      - ../sql:/docker-entrypoint-initdb.d
