<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="pl,en" />
        <title>explain.depesz.com</title>
        [% PROCESS scripts.tt %]
        [% PROCESS styles.tt %]
    </head>
    [% previous_day = plans.0.day %]
    [% jsarr = previous_day %]
    [% FOREACH plan IN plans %]
        [% day = plan.day %]
        [% IF day != previous_day %]
            [% jsarr = jsarr _ ':' _ day %]
            [% previous_day = day %]
        [% END %]
        [% jsarr = jsarr _ ',' _ plan.id %]
    [% END %]
    <body>
        <h1>=#&nbsp;<a href="http://explain.depesz.com" title="http://explain.depesz.com">explain</a>&nbsp;<a href="http://www.depesz.com" title="http://www.depesz.com">depesz.com</a>;</h1>
        <div class="explain">
            [% WRAPPER tabs.tt %][% END %]
            <div id="history" class="container">
                <script type="text/javascript">
                    var x = '[% jsarr %]';
                    var d = x.split(':');
                    var dl = d.length;
                    for (i=0; i<dl; i++) {
                        var j = d[i].split(',');
                        var jl = j.length;
                        document.write('<h2>' + j[0] + '</h2><p>');
                        for (k=1; k<jl; k++) {
                            document.write('<a href="/s/' + j[k] + '">' + j[k] + '</a>' + ( k == jl -1 ? '.</p>' : ', ' ) );
                        }
                    }
                </script>
            </div>
        </div>
    </body>
</html>
