<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="pl,en" />
        <title>explain.depesz.com</title>
        [% PROCESS scripts.tt %]
        [% PROCESS styles.tt %]
    </head>
    <body>
        <h1>=#&nbsp;<a href="http://explain.depesz.com" title="http://explain.depesz.com">explain</a>&nbsp;<a href="http://www.depesz.com" title="http://www.depesz.com">depesz.com</a>;</h1>
        <div class="explain">
            [% WRAPPER tabs.tt %][% END %]
            <div id="new" class="container">
                <h2>Paste your explain / explain analyze here:</h2>
                <form action="/new" method="post">
                    <textarea cols="132" rows="40" name="explain"></textarea><br/>
                    I want this plan to be visible on <a href="/history">previous explains</a> page:<input type="checkbox" name="public" value="1" checked="1"/><br/>
                    <input type="submit" name="submit" value="submit"/>
                </form>
            </div>
        </div>
    </body>
</html>
